[submodule "content"]
	path = content
	url = https://github.com/iwo-strzebonski/integra.content.git
[submodule "public/hbm"]
	path = public/hbm
	url = https://github.com/iwo-strzebonski/octoturges-hbm-utils.git
