@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

a {
  @apply inline-block;
}

body {
  @apply bg-white dark:bg-zinc-900;
}

/* Page transition effects */

/*
.page-enter-active,
.page-leave-active {
  transition: all 0.3s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
*/

.diana-page.page-enter-active .diana-page-content,
.diana-page.page-leave-active .diana-page-content,
.content-page.page-enter-active main,
.content-page.page-leave-active main {
  transition: all 0.2s;
}

.diana-page.page-enter-from .diana-page-content,
.diana-page.page-leave-to .diana-page-content,
.content-page.page-enter-from main,
.content-page.page-leave-to main {
  opacity: 0;
  filter: grayscale(1);
}

.index-page.page-enter-from,
.index-page.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.index-page.page-enter-active,
.index-page.page-leave-active {
  transition: all 0.4s;
}
