@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply box-border;
  @apply m-0;
  @apply p-0;
  @apply font-display;
  @apply transition-colors;
  @apply ease-in-out;
  /* @apply delay-150; */
  @apply duration-300;
  @apply text-black dark:text-white;
  @apply motion-reduce:transition-none;
  @apply motion-reduce:hover:transform-none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-white dark:bg-black;
}

header a:not(.router-link-exact-active) span.nav {
  @apply opacity-50;
}

header a.router-link-exact-active span.nav {
  @apply decoration-solid decoration-from-font underline underline-offset-2;
}

h1 {
  @apply font-bold;
  @apply text-4xl;
  @apply leading-tight;
  @apply tracking-tight;
  @apply mb-4;
  @apply text-red-900;
}
